/* Tipografias */
@import "https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap";
body {  font-family: 'Noto Sans', sans-serif; }
body .container {
    padding-right: 0px;
    padding-left: 0px;
}
body .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
body .row {
    margin-right: 0px;
    margin-left: 0px;
}
body .row .col-md-4 {
    padding-bottom: 5px;
}
.container-fluid .header {
    padding: 60px;
    text-align: center;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}
